.footer{
    height:100px;
    background-color: var(--color-footer);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_text{
    padding: var(--spacer);
    margin: 0;
    font-size: 15px;
    color:darkgrey;
}