form
{
width: 100%;
max-width: 400px;
margin: 1px auto;
background-color: white;
padding: 30px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.pole
{
	margin-bottom: 20px;
}

.pole label
{
	display: block;
}

.pole input, .pole textarea
{
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	background-color: white;
}

button
{
	background-color: dodgerblue;
	padding: 10px 15px;
	border: 0;
	border-radius: 4px;
	color: white;
	font-size: 16px;
}

button:hover
{
	background-color: rgb(23, 114, 205);
	cursor: pointer;
	
}