//LOGO SMALL***************************************************
.header_logo{
    width: 100%;
    max-width: 150px;
}
//VERTIKÁLNÍ MENU SMALL**************************************
.menu{
text-align: center;
margin: 0;
padding: 0;
list-style-type: none;
}

.menu_item{
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: black;
    border:5px solid transparent;
    border-radius: 15px;
    &:hover,
    &:active,
    &:focus{
        border: 5px solid var(--color-special);
        border-radius: 15px;
    }
}
//STÍN POD HEADER **********************************************
.header{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

