<footer class="footer">
    <div class="footer__col">
        <span class="footer__text">©2023</span>
        <a href="/form/" class="footer__text">kontakt</a>
    </div>

    <div>
    <p class="footer__text">Takk til alle som har gitt tillatelse til å bruke bilder på denne nettsiden. Deres velvillighet og støtte er høyt verdsatt. Takk til Jarle Storsveen, Inger Pedersen Nesteby, Nils-Jørgen Kristiansen, Anders Gabrielsen, Folldal fjellstyre, Folldal småbedrifter bedriftsidrettslag, Norges geologiske undersøkelse (NGU).</p>
    </div>
 </footer>
