<header class="header">
    <!--logo-->
       <a href="index.html"><img src="/img/logo.svg" class="header_logo" alt="logo"></a>
    <!--navigace-->
       {% include "partials/menu.njk" %}
   </header>