<div class="header_menu">
    <ul>
        <li><a href="/overnatting&mat/">overnatting&mat</a></li>
        <li><a href="/bildergalleri/">bildergalleri</a></li>
        <li><a href="/info/">info</a></li>
        <li><a href="/tips/">tips</a></li>
    </ul>
</div>