<div class="header_menu">
    <ul class="menu">
        <li><a href="/overnatting&mat/" class="menu_item">overnatting&mat</a></li>
        <li><a href="/bildergalleri/" class="menu_item">bildergalleri</a></li>
        <li><a href="/info/" class="menu_item">info</a></li>
        <li><a href="/tips/" class="menu_item">tips</a></li>
    </ul>
</div>